<br>
<img src="data/airbnb_logo.png" alt="Logo de Airbnb" style="width:300px"/><br>

# **Airbnb Case**<br>

### üë®‚Äçüíª Jorge G√≥mez Galv√°n
* LinkedIn: [linkedin.com/in/jorgeggalvan/](https://www.linkedin.com/in/jorgeggalvan/) 
* E-mail: ggalvanjorge@gmail.com

---
## **An√°lisis exploratorio de datos (EDA)**

In [1]:
# Importaci√≥n de librer√≠as
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Lectura del dataset
df_listings = pd.read_csv('./data/listings.csv')

### **1 - An√°lisis r√°pido del dataset**

#### 1.1 - Vista previa de los datos

In [3]:
# Vista previa de las primeras filas de los datos
df_listings.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,20220907151523,2022-09-07,city scrape,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi<br />...,"Indische Buurt (""Indies Neighborhood"") is a ne...",https://a0.muscache.com/pictures/10272854/8dcc...,3159,...,4.98,4.69,4.82,0363 5F3A 5684 6750 D14D,t,1,0,1,0,1.86
1,20168,https://www.airbnb.com/rooms/20168,20220907151523,2022-09-07,previous scrape,Studio with private bathroom in the centre 1,17th century Dutch townhouse in the heart of t...,Located just in between famous central canals....,https://a0.muscache.com/pictures/69979628/fd6a...,59484,...,4.62,4.87,4.49,0363 CBB3 2C10 0C2A 1E29,t,2,0,2,0,2.22
2,27886,https://www.airbnb.com/rooms/27886,20220907151523,2022-09-07,city scrape,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,"Central, quiet, safe, clean and beautiful.",https://a0.muscache.com/pictures/02c2da9d-660e...,97647,...,4.92,4.89,4.79,0363 974D 4986 7411 88D8,t,1,0,1,0,1.78
3,28871,https://www.airbnb.com/rooms/28871,20220907151523,2022-09-07,city scrape,Comfortable double room,<b>The space</b><br />In a monumental house ri...,"Flower market , Leidseplein , Rembrantsplein",https://a0.muscache.com/pictures/160889/362340...,124245,...,4.94,4.96,4.83,0363 607B EA74 0BD8 2F6F,f,2,0,2,0,2.92
4,29051,https://www.airbnb.com/rooms/29051,20220907151523,2022-09-07,city scrape,Comfortable single room,This room can also accomodate 2 people. For a...,the street is quite lively especially on weeke...,https://a0.muscache.com/pictures/162009/bd6be2...,124245,...,4.92,4.87,4.77,0363 607B EA74 0BD8 2F6F,f,2,0,2,0,4.16

#### 1.2 - Tama√±o del dataset

In [4]:
# Filas y columnas del dataset
df_listings.shape

(6893, 75)

#### 1.3 - Tipo de variables

In [5]:
# Lista completa del tipo de datos de cada columna
df_listings.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6893 entries, 0 to 6892
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            6893 non-null   int64
 1   listing_url                                   6893 non-null   object
 2   scrape_id                                     6893 non-null   int64
 3   last_scraped                                  6893 non-null   object
 4   source                                        6893 non-null   object
 5   name                                          6893 non-null   object
 6   description                                   6877 non-null   object
 7   neighborhood_overview                         4628 non-null   object
 8   picture_url                                   6893 non-null   object
 9   host_id                                       6893 non-null   int64
 10  host_url                                      6893 non-null   object
 11  host_name                                     6893 non-null   object
 12  host_since                                    6893 non-null   object
 13  host_location                                 6122 non-null   object
 14  host_about                                    4132 non-null   object
 15  host_response_time                            5236 non-null   object
 16  host_response_rate                            5236 non-null   object
 17  host_acceptance_rate                          6031 non-null   object
 18  host_is_superhost                             6885 non-null   object
 19  host_thumbnail_url                            6893 non-null   object
 20  host_picture_url                              6893 non-null   object
 21  host_neighbourhood                            3096 non-null   object
 22  host_listings_count                           6893 non-null   int64
 23  host_total_listings_count                     6893 non-null   int64
 24  host_verifications                            6893 non-null   object
 25  host_has_profile_pic                          6893 non-null   object
 26  host_identity_verified                        6893 non-null   object
 27  neighbourhood                                 4628 non-null   object
 28  neighbourhood_cleansed                        6893 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      6893 non-null   float64
 31  longitude                                     6893 non-null   float64
 32  property_type                                 6893 non-null   object
 33  room_type                                     6893 non-null   object
 34  accommodates                                  6893 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                6878 non-null   object
 37  bedrooms                                      6578 non-null   float64
 38  beds                                          6792 non-null   float64
 39  amenities                                     6893 non-null   object
 40  price                                         6893 non-null   object
 41  minimum_nights                                6893 non-null   int64
 42  maximum_nights                                6893 non-null   int64
 43  minimum_minimum_nights                        6891 non-null   float64
 44  maximum_minimum_nights                        6891 non-null   float64
 45  minimum_maximum_nights                        6891 non-null   float64
 46  maximum_maximum_nights                        6891 non-null   float64
 47  minimum_nights_avg_ntm                        6891 non-null   float64
 48  maximum_nights_avg_ntm                        6891 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              6893 non-null   object
 51  availability_30                               6893 non-null   int64
 52  availability_60                               6893 non-null   int64
 53  availability_90                               6893 non-null   int64
 54  availability_365                              6893 non-null   int64
 55  calendar_last_scraped                         6893 non-null   object
 56  number_of_reviews                             6893 non-null   int64
 57  number_of_reviews_ltm                         6893 non-null   int64
 58  number_of_reviews_l30d                        6893 non-null   int64
 59  first_review                                  6247 non-null   object
 60  last_review                                   6247 non-null   object
 61  review_scores_rating                          6247 non-null   float64
 62  review_scores_accuracy                        6242 non-null   float64
 63  review_scores_cleanliness                     6242 non-null   float64
 64  review_scores_checkin                         6242 non-null   float64
 65  review_scores_communication                   6242 non-null   float64
 66  review_scores_location                        6242 non-null   float64
 67  review_scores_value                           6242 non-null   float64
 68  license                                       6449 non-null   object
 69  instant_bookable                              6893 non-null   object
 70  calculated_host_listings_count                6893 non-null   int64
 71  calculated_host_listings_count_entire_homes   6893 non-null   int64
 72  calculated_host_listings_count_private_rooms  6893 non-null   int64
 73  calculated_host_listings_count_shared_rooms   6893 non-null   int64
 74  reviews_per_month                             6247 non-null   float64
dtypes: float64(21), int64(19), object(35)
memory usage: 3.9+ MB

In [6]:
numerical = df_listings.select_dtypes(exclude = 'object') # Selecci√≥n de variables num√©ricas
numerical.isnull().sum() # N¬∫ de nulos de cada variable num√©rica

id                                                 0
scrape_id                                          0
host_id                                            0
host_listings_count                                0
host_total_listings_count                          0
neighbourhood_group_cleansed                    6893
latitude                                           0
longitude                                          0
accommodates                                       0
bathrooms                                       6893
bedrooms                                         315
beds                                             101
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             2
maximum_minimum_nights                             2
minimum_maximum_nights                             2
maximum_maximum_nights                             2
minimum_nights_avg_ntm                             2
maximum_nights_avg_ntm                             2
calendar_updated                                6893
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
review_scores_rating                             646
review_scores_accuracy                           651
review_scores_cleanliness                        651
review_scores_checkin                            651
review_scores_communication                      651
review_scores_location                           651
review_scores_value                              651
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                                646
dtype: int64

In [7]:
categorical = df_listings.select_dtypes(include = 'object') # Selecci√≥n de variables categ√≥ricas
categorical.isnull().sum() # N¬∫ de nulos de cada variable categ√≥rica

listing_url                  0
last_scraped                 0
source                       0
name                         0
description                 16
neighborhood_overview     2265
picture_url                  0
host_url                     0
host_name                    0
host_since                   0
host_location              771
host_about                2761
host_response_time        1657
host_response_rate        1657
host_acceptance_rate       862
host_is_superhost            8
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood        3797
host_verifications           0
host_has_profile_pic         0
host_identity_verified       0
neighbourhood             2265
neighbourhood_cleansed       0
property_type                0
room_type                    0
bathrooms_text              15
amenities                    0
price                        0
has_availability             0
calendar_last_scraped        0
first_review               646
last_review                646
license                    444
instant_bookable             0
dtype: int64

In [8]:
# N¬∫ de valores √∫nicos de las variables categ√≥ricas
for column in categorical:
    print(column + ':', categorical[column].nunique())

listing_url: 6893
last_scraped: 2
source: 2
name: 6819
description: 6777
neighborhood_overview: 4183
picture_url: 6809
host_url: 5769
host_name: 2823
host_since: 2657
host_location: 163
host_about: 3366
host_response_time: 4
host_response_rate: 59
host_acceptance_rate: 97
host_is_superhost: 2
host_thumbnail_url: 5726
host_picture_url: 5726
host_neighbourhood: 59
host_verifications: 6
host_has_profile_pic: 2
host_identity_verified: 2
neighbourhood: 88
neighbourhood_cleansed: 22
property_type: 62
room_type: 4
bathrooms_text: 23
amenities: 6693
price: 590
has_availability: 2
calendar_last_scraped: 2
first_review: 2283
last_review: 853
license: 5412
instant_bookable: 2

### **2 - Detecci√≥n de valores nulos y duplicados**

#### 2.1 - Valores nulos y valores duplicados

In [9]:
# Comprobaci√≥n de existencia de nulos en cada variable
df_listings.isnull().any()

id                                              False
listing_url                                     False
scrape_id                                       False
last_scraped                                    False
source                                          False
                                                ...
calculated_host_listings_count                  False
calculated_host_listings_count_entire_homes     False
calculated_host_listings_count_private_rooms    False
calculated_host_listings_count_shared_rooms     False
reviews_per_month                                True
Length: 75, dtype: bool

In [10]:
# Comprobaci√≥n de existencia de duplicados
df_listings.duplicated().any()

False

#### 2.2 - Total de valores nulos y duplicados

In [11]:
# N¬∫ de nulos en cada variable
df_listings.isnull().sum()

id                                                0
listing_url                                       0
scrape_id                                         0
last_scraped                                      0
source                                            0
                                               ...
calculated_host_listings_count                    0
calculated_host_listings_count_entire_homes       0
calculated_host_listings_count_private_rooms      0
calculated_host_listings_count_shared_rooms       0
reviews_per_month                               646
Length: 75, dtype: int64

In [12]:
# N¬∫ de duplicados
df_listings.duplicated().sum()

0

### **3 - Creaci√≥n de nuevo dataset con variables clave**

#### 3.1 - Selecci√≥n de variables de inter√©s de an√°lisis de negocio

In [13]:
df_new_listings = df_listings[['id','name','latitude','longitude','minimum_nights','amenities','last_review','room_type','price','neighbourhood_cleansed','host_id','bedrooms','accommodates','review_scores_rating','review_scores_location','review_scores_checkin']]

#### 3.2 - Tipos de variable en el nuevo dataset

In [14]:
# Tipos de cada columna
df_new_listings.dtypes

id                          int64
name                       object
latitude                  float64
longitude                 float64
minimum_nights              int64
amenities                  object
last_review                object
room_type                  object
price                      object
neighbourhood_cleansed     object
host_id                     int64
bedrooms                  float64
accommodates                int64
review_scores_rating      float64
review_scores_location    float64
review_scores_checkin     float64
dtype: object

### **4 - Transformaci√≥n de datos**

#### 4.1 - Transformaci√≥n de la variable 'price'

In [15]:
df_new_listings['price'].head()

0     $49.00
1    $106.00
2    $136.00
3     $75.00
4     $55.00
Name: price, dtype: object

In [16]:
df_new_listings['price'] = df_new_listings['price'].str.replace('$','') # Eliminaci√≥n del s√≠mbolo $
df_new_listings['price'] = df_new_listings['price'].str.replace(',','') # Eliminaci√≥n del separador de miles
df_new_listings['price'] = df_new_listings['price'].astype(float) # Conversi√≥n de la variable a tipo float
df_new_listings['price'].head()

0     49.0
1    106.0
2    136.0
3     75.0
4     55.0
Name: price, dtype: float64

#### 4.2 - Transformaci√≥n de la variable 'last_review'

In [17]:
# Conversi√≥n de la variable a tipo fecha
df_new_listings['last_review'] = pd.to_datetime(df_new_listings['last_review'], format = '%Y-%m-%d')
df_new_listings['last_review'].head()

0   2022-08-30
1   2020-04-09
2   2022-04-24
3   2022-08-24
4   2022-08-29
Name: last_review, dtype: datetime64[ns]

### **5 - An√°lisis de nulos**

#### 5.1 - Total de nulos por variable

In [18]:
# N¬∫ de nulos por variable
df_new_listings.isnull().sum()

id                          0
name                        0
latitude                    0
longitude                   0
minimum_nights              0
amenities                   0
last_review               646
room_type                   0
price                       0
neighbourhood_cleansed      0
host_id                     0
bedrooms                  315
accommodates                0
review_scores_rating      646
review_scores_location    651
review_scores_checkin     651
dtype: int64

#### 5.2 - Eliminaci√≥n de valores nulos

In [19]:
# Eliminaci√≥n de todos los valores nulos debido a que representan una peque√±a proporci√≥n sobre el tama√±o del dataset
df_new_listings_clean = df_new_listings.dropna()
df_new_listings_clean.isnull().sum()

id                        0
name                      0
latitude                  0
longitude                 0
minimum_nights            0
amenities                 0
last_review               0
room_type                 0
price                     0
neighbourhood_cleansed    0
host_id                   0
bedrooms                  0
accommodates              0
review_scores_rating      0
review_scores_location    0
review_scores_checkin     0
dtype: int64

### **6 - Manipulaci√≥n de datos**

#### 6.1 - Valores m√°ximo, m√≠nimo y medio de 'last_review'.

In [20]:
# Valor m√°ximo, m√≠nimo y medio de la variable de √∫ltima rese√±a
df_new_listings_clean.agg({'last_review':['max','min','mean']})

                       last_review
max  2022-09-07 00:00:00.000000000
min  2014-01-04 00:00:00.000000000
mean 2022-01-15 17:54:58.435660288

#### 6.2 - Eliminaci√≥n de valores anteriores a 2022

In [21]:
# Eliminaci√≥n de los valores anteriores al a√±o 2022
cond_last_review = df_new_listings_clean['last_review'].dt.year >= 2022

df_new_listings_clean = df_new_listings_clean[cond_last_review]

#### 6.3 - Estad√≠sticas descriptivas y cuartiles

In [22]:
# Estad√≠sticas descriptivas y cuartiles de las variables num√©ricas
df_new_listings_clean.describe().T

,count,mean,std,min,25%,50%,75%,max
id,4609.0,1.033488e+17,2.344258e+17,2818.00000,1.432576e+07,3.217999e+07,5.066769e+07,7.054479e+17
latitude,4609.0,5.236603e+01,2.252906e-02,52.26850,5.235537e+01,5.236593e+01,5.237687e+01,5.244234e+01
longitude,4609.0,4.892583e+00,4.171489e-02,4.74243,4.868330e+00,4.889480e+00,4.910540e+00,5.074200e+00
minimum_nights,4609.0,4.749620e+00,3.977075e+01,1.00000,2.000000e+00,2.000000e+00,3.000000e+00,1.000000e+03
price,4609.0,2.275066e+02,2.072203e+02,15.00000,1.300000e+02,1.900000e+02,2.760000e+02,7.900000e+03
host_id,4609.0,9.811184e+07,1.286594e+08,3159.00000,9.282300e+06,3.413314e+07,1.416487e+08,4.774899e+08
bedrooms,4609.0,1.580386e+00,8.992748e-01,1.00000,1.000000e+00,1.000000e+00,2.000000e+00,1.000000e+01
accommodates,4609.0,3.017574e+00,1.497942e+00,1.00000,2.000000e+00,2.000000e+00,4.000000e+00,1.600000e+01
review_scores_rating,4609.0,4.817240e+00,2.453843e-01,2.00000,4.740000e+00,4.890000e+00,5.000000e+00,5.000000e+00
review_scores_location,4609.0,4.787088e+00,2.479975e-01,1.00000,4.680000e+00,4.860000e+00,5.000000e+00,5.000000e+00
review_scores_checkin,4609.0,4.880809e+00,2.091582e-01,2.00000,4.850000e+00,4.950000e+00,5.000000e+00,5.000000e+00

In [23]:
# Exportaci√≥n del nuevo dataset
df_new_listings_clean.to_csv('./data/listings_clean.csv')